body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;        
    background-color: var(--Light-grayish-blue);
    display: -ms-grid;
    display: grid;
    align-content: center;
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

.main {
    max-width: 375px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px;
    display: -ms-grid;
    display: grid;
    gap: 25px;
}

@media screen and (min-width: 700px) {
    .main {
        max-width: 700px;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .main {
        max-width: 1100px;
        min-width: 1100px;
        padding: 20px;
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }
}

.testimonial {
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 0.25);
}

.testimonial--violet {
    color: var(--White);
    background-color: var(--Moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 90% top;
}

@media screen and (min-width: 1024px) {
    .testimonial--violet {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        background-position: 80% top;
    }
}

.testimonial--grayish {
    color: var(--White);
    background-color: var(--Very-dark-grayish-blue);
}

.testimonial--white {
    color: var(--Very-dark-grayish-blue);
    background-color: var(--White);
}

.testimonial--blackish {
    color: var(--White);
    background-color: var(--Very-dark-blackish-blue);
}

@media screen and (min-width: 700px) {
    .testimonial--blackish {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 2;
        grid-column: 2;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial--blackish {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / 4;
    }
}

@media screen and (min-width: 700px) {
    .testimonial--lastone {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial--lastone {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 4 / 5;
    }
}

.testimonial__header {
    display: flex;
    align-items: center;    
}

.profile-image {
    width: 30px;
    margin-right: 15px;
    border-radius: 50%;
}

.profile-image--violet,
.profile-image--grayish {
    border: 1px solid var(--Light-gray);
    background-color: var(--Light-gray);
}

.profile-image--blackish {
    border: 2px solid var(--Moderate-violet);
    background-color: var(--Moderate-violet);
}

.testimonial__name {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.testimonial__verification {
    margin: 0;
    font-size: .8rem;
    opacity: 50%;
}

.testimonial__opinion {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
    .testimonial__opinion {
        font-size: 1.3rem;
    }
}

.testimonial__testimonial {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8rem;
    opacity: 70%;
    line-height: 20px;
}

.attribution { 
    padding-bottom: 5px;
    font-size: 14px; 
    text-align: center; 
}

@media screen and (min-width: 700px) {
    .attribution {
        font-size: 1rem;
    }
}

.attribution__link { 
    color: hsl(228, 45%, 44%); 
}